<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Spriggys_DIM_Wishlist_Maker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Spriggys_DIM_Wishlist_Maker.Properties.Settings>
            <setting name="RollInput" serializeAs="String">
                <value>Picklist</value>
            </setting>
            <setting name="NoteRatings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NoteMasterwork" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CommentedRollInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LetterSeparator" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinRating" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="NameRating" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GameType" serializeAs="String">
                <value>Both</value>
            </setting>
            <setting name="ClearEntries" serializeAs="String">
                <value>True</value>
            </setting>
        </Spriggys_DIM_Wishlist_Maker.Properties.Settings>
    </userSettings>
</configuration>